<div class="navbar">
	<div id='logo'><%= link_to 'Pechakucha', { controller: 'pages', action: 'home' }, class: 'retreat' %></div>
	<div id='tab1'><%= link_to 'Add a Definition', controller: 'cards', action: 'new' %></div>
	<div id='tab2'><%= link_to 'Your list', controller: 'cards' %></div>
	<div id='tab3'>Stats</div>
	<div id='tab4'>Your Account</div>
</div>